@{
    ViewData["Title"] = "Home Page";

    string title = "Blog App";
    string description = "Read what you like.";
}

<div class="position-relative text-center text-light vh-100 d-flex flex-column justify-content-start align-items-center"
     style="background-image: url('https://i.pinimg.com/originals/54/ba/1a/54ba1aebeb5c5c92105f430009db074c.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <h1 class="display-4 fw-bold bounceAnimationAndOpacity" style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); margin-top: 230px;">@title</h1>
    <p class="bounceAnimationAndOpacity" style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);">@description</p>
</div>
